after_done_send_mail_to = 'example@example.com'  # the mail that will be sent after completing the export

from_mail = 'info@localhost'  # from email address of server

root_dir = '/tmp/'  # on which folder in server the files will be created after export, make sure the folder has write permission for the plone user

folderish_types = ['Folder']  # Add folderish type of content types list here

entry_types = ['Page']  # add entry type of content types here, those who dont have sub items

image_types = ['Image']  # add image type portal types here

video_types = ['']  # add video type portal types here

file_types = ['File']  # add file type content types here
